

.header {
    padding-left: 26px;
    display: flex;
    margin: 0%;
    width: 100%;
    background-color: white;
    color: grey;
    text-align: left;
    font-weight: bold;
    box-shadow: 0 0 2px 0 rgb(114,114,114,0.4);
  }

  .header h2 {
    padding-left: 5px;
  }

  
  .logo {
    padding-top: 10px;
    padding-left: 10px;
    height: 3%;
    width: 3%;
  }