
.note {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.note-title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.note-content {
  width: 100%;
  font-size: 1rem;
  color: #555;
}

.delete-button {
  background-color: #f49e36;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 8px;
}

.delete-button:hover {
  background-color: #d36e2f;
}

.edit-button {
  margin-left: 5%;
  width: 17%;
  background-color: #f49e36;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 8px;
}

.edit-button:hover {
  background-color: #d36e2f;
}
