

.note-list {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    margin-top: 20px;
  }  

  button {
    padding: 10px;
    border: 10px;
    background-color: white;
    margin: 10px;
    color: orange;
    box-shadow: 0 0 2px 0 rgb(114,114,114,0.4);
  }
